@charset "UTF-8" ;

	html {
		height : 100%;
		overflow : hidden;
	}

	body {
		display : flex;
		height : 100%;
		align-items : stretch;
		overflow : hidden;

		margin  : 0pt;
		padding : 0pt;
		color : black;
		line-height : 120%;
		font-family: 'MS PGothic', sans-serif;
	}

	/* 盤面外の表示部分(管理領域・メニュー・ポップアップ・ボタン) */
	.outofboard {
		font-size   : 1.0em;
		line-height : 1.2;
	}

	.btn {
		display : inline;
		margin  : 2pt;
		padding : 2pt 4pt 2pt 4pt;
		border-radius : 4pt;
		border        : solid 1pt gray;
		
		background     : silver;
		background     : linear-gradient(to bottom, white, silver);
		text-align     : center;
		vertical-align : middle;
		font   : 90%/1.2 'MS PGothic', sans-serif;
		cursor : default;
	}
	.btn:active {
		background : #afafaf;
		background : linear-gradient(to bottom, #afafaf, #cccccc);
	}
	
	.btn-ok {
		background : blue;
		background : linear-gradient(to bottom, #afafff, blue);
		color : white;
	}
	.btn-ok:active {
		background : navy;
		background : linear-gradient(to bottom, navy, blue);
	}
	
	.btn-info {
		background : #993366;
		background : linear-gradient(to bottom, #cc6699, #993366);
		color : white;
	}
	.btn-info:active {
		background : #66334f;
		background : linear-gradient(to bottom, #99334f, #993366);
	}
	
	.btn-warn {
		background : yellow;
		background : linear-gradient(to bottom, yellow, #cccc00);
	}
	.btn-warn:active {
		background : #999900;
		background : linear-gradient(to bottom, #999900, #cccc00);
	}
	
	.btn-danger {
		background : red;
		background : linear-gradient(to bottom, #ffafaf, red);
		color:white;
	}
	.btn-danger:active {
		background : #cc0000;
		background : linear-gradient(to bottom, #cc0000, red);
	}
	
	#btnarea div#btnclear { color:red;}

	/* パズル一覧表示部 */
	div#puzzlelist {
		display : block;
		width : 180px;
		min-width : 180px;
		/* height : 100%; */
		top : 0;
		bottom : 0;
		background : #efefef;
		overflow-y : auto;
	}
	div.puzzleitem {
		padding-top : 4px;
		padding-left : 8px;
		border : solid 1px #dfdfdf;
		height : 32px;
		white-space : nowrap;
		line-height : 100%;
	}
	div.puzzleitemsel {
		border : solid 1px #cccccc;
		background : #dfdfdf;
	}

	div.puzzleitem span.modified {
		display : inline-block;
		width : 6px;
		height : 6px;
		background : #cc0000;
		border-radius : 50%;
		margin-right: 2px;
	}
	div.puzzleitem span.puzzleinfo {
		color : dimgray;
		font-size : 14px;
	}
	div.puzzleitem span.filename {
		color : #999999;
		font-size : 12px;
	}

	/* パズル表示部 */
	div#mainboard {
		flex-grow : 1;
		display : flex;
		flex-direction : column;
		width : 300px;
	}
	div#topinfo {
		height : 24px;
		padding : auto;
		padding-top : 4px;
		padding-left : 8px;
		box-shadow : #efefef 0px 2px 2px;
		white-space : nowrap;
	}
	div#quesboard {
		flex-grow : 10;
		text-align : left;
		overflow : auto;
	}
	div.puzzles {
		display:inline-block;
		cursor:default;
		padding:18px;
	}
	div#btnarea {
		position : relative;
		padding-left:8px;
		padding-right:8px;
		box-shadow : #efefef 0px -2px 2px;
	}

	span#puzzlegenre {
		cursor : default;
	}
	span#puzzlesize {
		font-size : 90%;
	}
	span#puzzlemode {
		font-size : 90%;
	}
	span#puzzlefile {
		color : #999999;
		font-size : 80%;
	}
