@charset "UTF-8" ;

	body {
		margin  : 0pt;
		padding : 0pt;
		color : black;
		line-height : 120%;
		font-family: 'MS PGothic', sans-serif;
	}

	/* 盤面外の表示部分(管理領域・メニュー・ポップアップ・ボタン) */
	.outofboard {
		font-size   : 1.0em;
		line-height : 1.2;
	}

	.btn {
		display : inline;
		margin  : 2pt;
		padding : 2pt 4pt 2pt 4pt;
		border-radius : 4pt;
		border        : solid 1pt gray;
		
		background     : silver;
		background     : linear-gradient(to bottom, white, silver);
		text-align     : center;
		vertical-align : middle;
		font   : 90%/1.2 'MS PGothic', sans-serif;
		cursor : default;
	}
	.btn:active {
		background : #afafaf;
		background : linear-gradient(to bottom, #afafaf, #cccccc);
	}
	
	.btn-ok {
		background : blue;
		background : linear-gradient(to bottom, #afafff, blue);
		color : white;
	}
	.btn-ok:active {
		background : navy;
		background : linear-gradient(to bottom, navy, blue);
	}
	
	.btn-info {
		background : #993366;
		background : linear-gradient(to bottom, #cc6699, #993366);
		color : white;
	}
	.btn-info:active {
		background : #66334f;
		background : linear-gradient(to bottom, #99334f, #993366);
	}
	
	.btn-warn {
		background : yellow;
		background : linear-gradient(to bottom, yellow, #cccc00);
	}
	.btn-warn:active {
		background : #999900;
		background : linear-gradient(to bottom, #999900, #cccc00);
	}
	
	.btn-danger {
		background : red;
		background : linear-gradient(to bottom, #ffafaf, red);
		color:white;
	}
	.btn-danger:active {
		background : #cc0000;
		background : linear-gradient(to bottom, #cc0000, red);
	}
	
	#btnarea div#btnclear { color:red;}

	/* パズル表示部 */
	div#quesboard {
		text-align : left;
	}
	div#divques {
		display:inline-block;
		/* position:relative; */
		/* border:solid 1px gray; */
		cursor:default;
		padding:18px;
	}
	div#btnarea {
		position : relative;
		padding-left:8px;
		padding-right:8px;
	}
